<div class="container-fluid">
  
    <div class="row" *ngIf="jobs">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row mb-md-2">
              
              <!-- Search -->
              <div class="col-sm-12 col-md-12">
                <div
                  id="tickets-table_filter"
                  class="dataTables_filter text-md-left"
                >
                <form class="row g-3">
                  <div class="col-md-3">
  
                  <label class="d-inline-flex align-masters-center"
                    >Batchjob Name
                    <input
                      type="text"
                      name="searchTerm"
                      class="form-control form-control-sm ms-2"
                      aria-controls="tickets-table"
                      [(ngModel)]="batchjobName"
                  /></label>
                  </div>
                  <div class="col-md-3">
  
                  <label class="d-inline-flex "
                  >BJDirectory 
                  <input
                    type="text"
                    name="searchTerm"
                    class="form-control form-control-sm ms-2"
                    aria-controls="tickets-table"
                    [(ngModel)]="bjDirectory"
                /></label>
                </div>
                <div class="col-md-3">
                    <label class="d-inline-flex "
                        >File size limit per E-mail(Byte)
                        <input
                          type="text"
                          name="searchTerm"
                          class="form-control form-control-sm ms-2"
                          aria-controls="tickets-table"
                          [(ngModel)]="fileSize"
                          [ngModelOptions]="{standalone: true}"
                      /></label>
          
                  </div>
                
              <div class="col-md-3 ">
  
                <button type="button" class="btn btn-info waves-effect waves-light  " (click)="method()">Submit</button>
                 </div>
                <div class="col-md-12">
  
              <ng-multiselect-dropdown class="multiselect-dropdown"
              [placeholder]="'FTP connection'"
              [settings]="dropdownConnectionSettings"
              [data]="dropdownListConnection"
              [(ngModel)]="selectedItemsConnections"
              (onSelect)="onItemSelectConnection($event)"
              (onSelectAll)="onSelectAllConnection($event)"
            >
            </ng-multiselect-dropdown>
           
          </div>


          <div class="col-md-4">

          <form>
            Result:
            <div class="col-md-3">
              <label class="radio-inline">     
                <input type="radio"  name="result" value="path: E-Mail" (change)="resultChangeHandler($event)"  >path: E-Mail
              </label>
            </div>
            <div class="col-md-3">

            <label class="radio-inline">
              <input type="radio"  name="result" value="file: E-Mail" (change)="resultChangeHandler($event)">file: E-Mail
            </label>
            </div>
            <div class="col-md-3">
            <label class="radio-inline">
              <input type="radio" name="result" value="file:SFTP" (change)="resultChangeHandler($event)">file:SFTP
            </label>
            </div>
          </form>
          </div>

          <div class="col-md-4">

            <form>
              Batchjob data:
              <div class="col-md-3">
                <label class="radio-inline">     
                  <input type="radio"  name="batchjob " value="relative" (change)=batchjobChangeHandler($event)  >relative
                </label>
              </div>
              <div class="col-md-3">
  
              <label class="radio-inline">
                <input type="radio"  name="batchjob " value="absolute" (change)=batchjobChangeHandler($event)>absolute
              </label>
              </div>
            </form>
            </div>
            <div class="col-md-4">

              <form>
                Decimal Point:
                <div class="col-md-3">
                  <label class="radio-inline">     
                    <input type="radio"  name="decimalpoint" value="Comma" (change)=decimalpointChangeHandler($event)  >Comma
                  </label>
                </div>
                <div class="col-md-3">
    
                <label class="radio-inline">
                  <input type="radio"  name="decimalpoint" value="Dot" (change)=decimalpointChangeHandler($event)>Dot
                </label>
                </div>
              </form>
              </div>
            

            


          <div class="col-md-3">
            <ng-multiselect-dropdown class="multiselect-dropdown"
            [placeholder]="'Batchjob ID'"
            [settings]="dropdownIdtSettings"
            [data]="dropdownListId"
            [(ngModel)]="selectedItemsId"
            (onSelect)="onItemSelectId($event)"
            (onSelectAll)="onSelectAllId($event)"
          >
          </ng-multiselect-dropdown>
          </div>
          
         
  
          
          
          
          
        </form>
        
        
          
                </div>
              </div>
  
              <!-- End search -->
              
            </div>
  
            <!-- Table -->
            <div class="table-responsive">
              <table
                class="table table-bordered "
              >
                <thead>
                  <tr>
                    <th sortable="id" >
                      ID
                    </th>
                    <th sortable="jobparams" >
                      JobParams
                    </th>

                    <th sortable="jobName" >
                      Job Name
                    </th>
                  
                    <th sortable="status" >
                      Status
                    </th>
                    <th sortable="mandant" >Mandant</th>
                    <th sortable="user" >User</th>
                    <th sortable="time" >Time</th>
                    <th sortable="directory" >Directory</th>
                    <th sortable="sftpConection" >SFTP Connection</th>
                    <th sortable="userEmail" >User E-mail</th>
                    <th sortable="resultPerEmail" >Result per Email</th>
                    <th sortable="fileSize" >File size limit per Email</th>
                    <th sortable="dateRelativ" >Date relativ?</th>
                    <th>
                    <button
                      type="button"
                      class="btn btn-light"
                      (click)="openModal(jobModalCreate, 'Create', selectedJob)"
                    >
                      <i class="mdi mdi-plus"></i>
                    </button>
                  </th>
                    
  
                  </tr>
                </thead>
                <tbody *ngFor="let job of jobs
                ">
                  <tr>
                  
                    <td>
                      <ngb-highlight
                        [result]="job.id"
                        [term]="searchTerm"
                      ></ngb-highlight>
                    </td>
                    <td>
                      <a href="/jobparams?jobid={{job.id}}">open</a>
                    </td>

                    <td>
                      <ngb-highlight
                        [result]="job.jobId.name"
                        [term]="searchTerm"
                      ></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight
                        [result]="job.status"
                        [term]="searchTerm"
                      ></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight
                        [result]="job.jobId.mandant"
                        [term]="searchTerm"
                      ></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight
                        [result]="job.jobId.grafana_user"
                        [term]="searchTerm"
                      ></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight
                        [result]="job.curr_time"
                        [term]="searchTerm"
                      ></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight
                        [result]="job.ftpdirectory"
                        [term]="searchTerm"
                      ></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight
                        [result]="job.sftpcon"
                        [term]="searchTerm"
                      ></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight
                        [result]="job.email"
                        [term]="searchTerm"
                      ></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight
                        [result]="job.emailresultfile"
                        [term]="searchTerm"
                      ></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight
                        [result]="job.maxfilesize"
                        [term]="searchTerm"
                      ></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight
                        [result]="job.daterelativ"
                        [term]="searchTerm"
                      ></ngb-highlight>
                    </td>
                    <td>
                      <div ngbDropdown placement="bottom-left">
                        <i
                          class="mdi mdi-dots-vertical dropdown-toggle"
                          ngbDropdownToggle
                          data-toggle="dropdown"
                          aria-expanded="true"
                        ></i>
                        <div
                          class="dropdown-menu dropdown-menu-end"
                          ngbDropdownMenu
                        >
                          <a
                            class="dropdown-item"
                            href="javascript: void(0);"
                            (click)="openModal(jobModal, 'Edit', job)"
                            ><i class="mdi mdi-account-edit"></i>Edit</a
                          >
                          <a
                            class="dropdown-item"
                            href="javascript: void(0);"
                            (click)="deleteJob(job.jobId)"
                            ><i class="mdi mdi-account-edit"></i>Delete</a
                          >
                        </div>
                      </div>
                    </td>
                    
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- End table -->
            <div
              class="row justify-content-md-between align-masters-md-center mt-2"
            >
              <div class="col-sm-12 col-md-5">
                <div
                  class="dataTables_info mb-2"
                  id="tickets-table_info"
                  role="status"
                  aria-live="polite"
                ><label class="d-inline-flex ">
                  Showing {{ ((page > 0 ? page : 1) - 1) * pageSize + 1 }} to
                  {{
                    ((page > 0 ? page : 0) - 1) * pageSize + jobs?.length
                  }}
                  of
                  {{ totalRecords }}
                  entries</label>
                </div>
              </div>
              <!-- Pagination -->
              <div class="col-sm-12 col-md-9 ">
                <div
                  class="dataTables_length float-md-end"
                  id="clients-table_length"
                  *ngIf="totalRecords > 10"
                >
                  <label class="d-inline-flex align-items-center ">
                    Show
                    <select
                      name="clients-table_length"
                      aria-controls="clients-table"
                      name="pageSize"
                      [(ngModel)]="pageSize"
                      class="form-control form-control-sm mx-2"
                      (change)="onPageSizeChange()"
                    ><option [ngValue]="5">5</option>
                      <option [ngValue]="10">10</option>
                      <option [ngValue]="25" *ngIf="totalRecords > 25">25</option>
                      <option [ngValue]="50" *ngIf="totalRecords > 50">
                        50
                      </option>
                      <option [ngValue]="100" *ngIf="totalRecords > 100">
                        100
                      </option>
                    </select>
                    entries</label
                  >
                </div>
                <div class="text-md-right float-md-end pagination-rounded">
                  <ngb-pagination
                    [(collectionSize)]="totalRecords"
                    [(page)]="page"
                    [(pageSize)]="pageSize"
                    (pageChange)="onPageChange()"
                    [boundaryLinks]="true"
                    [maxSize]="5"
                    [rotate]="true"
                  >
                  </ngb-pagination>
                </div>
              </div>
              <!-- End Pagination -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  
  
<ng-template #jobModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">{{ mode }} job</h5>
    <button
      type="button"
      class="btn-close"
      (click)="modal.dismiss('Cross click')"
      aria-hidden="true"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <div class="row mb-3">
          <label class="col-md-3 col-form-label">ID *</label>
          <div class="col-md-9">
            <input
              class="form-control"
              name="ID"
              type="text"
              [(ngModel)]="selectedJob.id" readonly
            />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-md-3 col-form-label"> Name *</label>
          <div class="col-md-9">
            <input
              class="form-control"
              name="name"
              type="text"
              [(ngModel)]="selectedJob.jobId.name" readonly
            />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-md-3 col-form-label">Status</label>
          <div class="col-md-9">
            <input
              class="form-control"
              name="status"
              type="text"
              [(ngModel)]="selectedJob.status"
            />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-md-3 col-form-label">Mandant *</label>
          <div class="col-md-9">
            <input
              class="form-control"
              name="mandant"
              type="text"
              [(ngModel)]="selectedJob.jobId.mandant" readonly
            />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-md-3 col-form-label">User *</label>
          <div class="col-md-9">
            <input
              class="form-control"
              name="grafana_user"
              type="text"
              [(ngModel)]="selectedJob.jobId.grafana_user" readonly
            />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-md-3 col-form-label">Directory</label>
          <div class="col-md-9">
            <input
              class="form-control"
              name="ftp_directory"
              type="text"
              [(ngModel)]="selectedJob.ftpdirectory"
            />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-md-3 col-form-label">SFTP Connection</label>
          <div class="col-md-9">
            <input
              class="form-control"
              name="sftp_con"
              type="text"
              [(ngModel)]="selectedJob.sftpcon"
            />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-md-3 col-form-label">User email</label>
          <div class="col-md-9">
            <input
              class="form-control"
              name="email"
              type="text"
              [(ngModel)]="selectedJob.email"
            />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-md-3 col-form-label">Result per Email</label>
          <div class="col-md-9">
            <input
              class="form-control"
              name="email_result_file"
              type="text"
              [(ngModel)]="selectedJob.emailresultfile"
            />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-md-3 col-form-label">File Size limit per Email</label>
          <div class="col-md-9">
            <input
              class="form-control"
              name="file_size_limit"
              type="text"
              [(ngModel)]="selectedJob.maxfilesize"
            />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-md-3 col-form-label">Date relativ (True/False) Darf nicht leer sein</label>
          <div class="col-md-9">
            <input
              class="form-control"
              name="date_relativ"
              type="text"
              [(ngModel)]="selectedJob.daterelativ"
            />
          </div>
        </div>
        <div *ngIf="mode==='Edit'">
          <div class="row mb-12">
            <label class="col-md-3 col-form-label">Alle Felder mit * dürfen nicht geändert werden</label>
           
          </div>

        </div>
        <div *ngIf="mode==='Create'">
          <div class="row mb-12">
            <label class="col-md-3 col-form-label">Alle Felder mit * dürfen nicht leer sein</label>
           
          </div>

        </div>
        
       
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="UpdateClient(jobModal)"
    >
      Save changes
    </button>
  </div>
</ng-template>


  
<ng-template #jobModalCreate let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">{{ mode }} job</h5>
    <button
      type="button"
      class="btn-close"
      (click)="modal.dismiss('Cross click')"
      aria-hidden="true"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <div class="row mb-3">
          <label class="col-md-3 col-form-label">ID *</label>
          <div class="col-md-9">
            <input
              class="form-control"
              name="ID"
              type="text"
              [(ngModel)]="selectedJob.id" 
            />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-md-3 col-form-label"> Name *</label>
          <div class="col-md-9">
            <input
              class="form-control"
              name="name"
              type="text"
              [(ngModel)]="selectedJob.jobId.name" 
            />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-md-3 col-form-label">Status</label>
          <div class="col-md-9">
            <input
              class="form-control"
              name="status"
              type="text"
              [(ngModel)]="selectedJob.status"
            />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-md-3 col-form-label">Mandant *</label>
          <div class="col-md-9">
            <input
              class="form-control"
              name="mandant"
              type="text"
              [(ngModel)]="selectedJob.jobId.mandant" 
            />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-md-3 col-form-label">User *</label>
          <div class="col-md-9">
            <input
              class="form-control"
              name="grafana_user"
              type="text"
              [(ngModel)]="selectedJob.jobId.grafana_user" 
            />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-md-3 col-form-label">Directory</label>
          <div class="col-md-9">
            <input
              class="form-control"
              name="ftp_directory"
              type="text"
              [(ngModel)]="selectedJob.ftpdirectory"
            />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-md-3 col-form-label">SFTP Connection</label>
          <div class="col-md-9">
            <input
              class="form-control"
              name="sftp_con"
              type="text"
              [(ngModel)]="selectedJob.sftpcon"
            />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-md-3 col-form-label">User email</label>
          <div class="col-md-9">
            <input
              class="form-control"
              name="email"
              type="text"
              [(ngModel)]="selectedJob.email"
            />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-md-3 col-form-label">Result per Email</label>
          <div class="col-md-9">
            <input
              class="form-control"
              name="email_result_file"
              type="text"
              [(ngModel)]="selectedJob.emailresultfile"
            />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-md-3 col-form-label">File Size limit per Email</label>
          <div class="col-md-9">
            <input
              class="form-control"
              name="file_size_limit"
              type="text"
              [(ngModel)]="selectedJob.maxfilesize"
            />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-md-3 col-form-label">Date relativ (True/False) Darf nicht leer sein</label>
          <div class="col-md-9">
            <input
              class="form-control"
              name="date_relativ"
              type="text"
              [(ngModel)]="selectedJob.daterelativ"
            />
          </div>
        </div>
        <div *ngIf="mode==='Edit'">
          <div class="row mb-12">
            <label class="col-md-3 col-form-label">Alle Felder mit * dürfen nicht geändert werden</label>
           
          </div>

        </div>
        <div *ngIf="mode==='Create'">
          <div class="row mb-12">
            <label class="col-md-3 col-form-label">Alle Felder mit * dürfen nicht leer sein</label>
           
          </div>

        </div>
        
       
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="CreateClient(jobModalCreate)"
    >
      Save changes
    </button>
  </div>
</ng-template>

